h1 {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
body {
    background-image: url("http://t.wallpaperweb.org/wallpaper/music/1920x1200/Metalmania_2007__Sepultura_1920x1200.jpg");
 }

 h4{
    color:white;
 }